<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Divorce Application</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <h1>Divorce Application</h1>
</header>
<h2>
  Welcome Admin!
</h2>
<nav>
  <ul>
    <li><a th:href="@{/registeredUsers}">View registered Users</a></li>
    <li><a href="/divorces/viewDivorceForm" >View submitted divorce forms</a></li>
    <li><a href="/home" target="_self">Home</a></li>
    <li><a href="/logout">Logout </a></li>
  </ul>
</nav>


<footer>
  <p>Copyright ©2022 Divorce Application</p>
</footer>
</body>
</html>