<!DOCTYPE html>
<html>
<head>

  <title>Divorce Application</title>
  <style>

    .form-container {
      width: 500px;
      margin: 0 auto;
      text-align: center;
    }

    .form-field {
      margin: 10px 0;
    }

    label {
      font-size: large;
      font-weight: bold;
    }

    input[type="text"],
    input[type="text"],
    textarea {
      padding: 10px;
      width: 100%;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
    body{
      background-color: darkcyan; }
  </style>

</head>
<body>

<div class="form-container">
  <h2>Divorce Application</h2>
  <form id="divorceForm">
    <div class = "form-field">
    <label for="husbandAfm">Husband's A.F.M:</label>
    <input type="text" id="husbandAfm" name="husbandAfm" >
  </div>
    <div class = "form-field">
      <label for="husbandAmka">Husband's A.M.K.A:</label>
      <input type="text" id="husbandAmka" name="husbandAmka" >
    </div>
    <div class = "form-field">
      <label for="husbandSurname">Husband's surname:</label>
      <input type="text" id="husbandSurname" name="husbandSurname" >
    </div>

  <div class="form-field">
    <label for="wifeAfm">Wife's A.F.M:</label>
    <input type="text" id="wifeAfm" name="wifeAfm" >
  </div>

  <div class="form-field">
    <label for="wifeAmka">Wife's A.M.K.A:</label>
    <input type="text"  id="wifeAmka" name="wifeAmka" >
  </div>
    <div class="form-field">
      <label for="wifeSurname">Wife's surname:</label>
      <input type="text"  id="wifeSurname" name="wifeSurname" >
    </div>
  <div class="form-field">
    <label for="reason">Λόγος χωρισμού:</label>
    <textarea class="form-control" id="reason" name="reason" rows="3" ></textarea>
  </div>
    <div class="form-field">
      <label for="epimeleiaPaidiwn">Επιμέλεια τέκνων:</label>
      <textarea class="form-control" id="epimeleiaPaidiwn" name="epimeleiaPaidiwn" rows="3" ></textarea>
    </div>

  <div class="form-field">
    <label for="akinitiPeriousia">Ακίνητη περιουσία:</label>
    <textarea class="form-control" id="akinitiPeriousia" name="akinitiPeriousia" rows="3" ></textarea>
  </div>
    <div class="form-field">
      <label for="logariasmoiTrapezwn">Τραπεζικοί Λογαριασμοί:</label>
      <textarea class="form-control" id="logariasmoiTrapezwn" name="logariasmoiTrapezwn" rows="3" ></textarea>
    </div>
    <div class="form-field">
      <label for="ix">Ιδιωτικά Οχήματα(Id οχήματος):</label>
      <input type="text"  id="ix" name="ix" >
    </div>
    <input type="submit" value="Submit">
</form>
  <p id="output"></p>
  <script>
    document.getElementById("divorceForm").addEventListener("submit",function(event){
      event.preventDefault();
      const form = event.target;
      const formData = {
        husbandAfm: form.husbandAfm.value,
        husbandAmka: form.husbandAmka.value,
        husbandSurname: form.husbandSurname.value,
        wifeAmka: form.wifeAmka.value,
        wifeAfm: form.wifeAfm.value,
        wifeSurname: form.wifeSurname.value,
        epimeleiaPaidiwn: form.epimeleiaPaidiwn.value,
        akinitiPeriousia: form.akinitiPeriousia.value,
        logariasmoiTrapezwn: form.logariasmoiTrapezwn.value,
        ix: form.ix.value,
        reason: form.reason.value,
      };
      //Send data to the server
      fetch("/divorces/addForm",{
        method  :"POST",
        headers :{"Content-Type":"application/json"},
        body: JSON.stringify(formData)//{husbandAfm:event.srcElement[0].value,husbandAmka:event.srcElement[1].value,husbandSurname:event.srcElement[2].value,wifeAfm:event.srcElement[3].value,wifeAmka:event.srcElement[4].value,wifeSurname:event.srcElement[5].value,reason:event.srcElement[6].value,epimeleiaPaidiwn:event.srcElement[7].value,akinitiPeriousia:event.srcElement[8].value,logariasmoiTrapezwn:event.srcElement[9].value,ix:event.srcElement[10].value}),
      })
              .then(function (response) {
                if (response.ok) {
                  return response.json();
                } else {
                  throw new Error("Request failed");
                }
              })
              .then(function (data) {
                console.log(data);
                window.location.replace("/submit-divorce-form");
                document.getElementById("output").textContent = "Form submitted successfully!";
              })
              .catch(function (error) {
                console.error(error);
                document.getElementById("output").textContent = "An error occurred.";
              });
    });
  </script>
</div>
</body>
</html>
