<!DOCTYPE html>
<html>
<head>
    <title>Divorce Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Divorce Application</h1>
</header>
<nav>
    <ul>
        <li><a href="">Logout</a></li>
        <li><a href="/divorceForm" target = "_self">Apply for Divorce</a></li>
        <li><a href="#">View Divorce Applications</a></li>
    </ul>
</nav>
<main>
    <h2>Welcome to the Divorce Application</h2>
    <p>This application allows you to apply for a divorce online and track the status of your application.</p>
    <p>To get started, click on the "Apply for Divorce" link in the navigation menu.</p>
</main>
<footer>
    <p>Copyright ©2022 Divorce Application</p>
</footer>
</body>
</html>