<!DOCTYPE html>
<html>
<head>
    <style>
        #link {
            color: blue;
            text-decoration: underline;
        }
    </style>
    <meta charset="UTF-8">
    <title>SubmissionCompleted</title>
</head>
<body>
<header>
    <h1>Your form is submitted successfully</h1>
</header>
<nav>
    <ul>
        <a href="/home">Home Page</a></li>
    </ul>
</nav>

<script>
    document.getElementById("link").addEventListener("mouseover", function(){
        this.style.color = "red";
    });

    document.getElementById("link").addEventListener("mouseout", function(){
        this.style.color = "blue";
    });
</script>
</body>
</html>