<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>

<body>
<div class="form-container">
<form id="userRegistration">
    <div class = "form-field">
    <p>Surname: <label for="surname"></label><input type="text" id="surname"></p>
    </div>
        <div class = "form-field">
    <p>Afm: <label for="afm"></label><input type="text" id="afm"></p>
        </div>
            <div class = "form-field">
    <p>Amka: <label for="amka"></label><input type="text" id="amka"></p>
            </div>
                <div class = "form-field">
    <p>Password: <label for="password"></label><input type="password" id="password"></p>
                </div>
                    <div class = "form-field">
    <p>Role: <label for="role"></label><input type = "text" id = "role"></p>
                    </div>
                        <div class = "form-field">
    <p><button type="submit">Submit</button></p>
                        </div>

</form>
    <script>
        document.getElementById("userRegistration").addEventListener("submit",function(event){
            event.preventDefault();
            window.location.replace("/login");

            //Send data to the server
            fetch("/users/addUser",{
                method  :"POST",
                headers :{"Content-Type":"application/json"},
                body: JSON.stringify({afm:event.srcElement[1].value,amka:event.srcElement[2].value,surname:event.srcElement[0].value,password:event.srcElement[3].value,role:event.srcElement[4].value}),
            })
                .then(function (response){
                    return response.json();
                })
                .then(function (data){
                    console.log(data);
                })
                .catch(function (error){
                    console.error(error)
                });


        });


    </script>
</div>
</body>
</html>